@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"),
    url('../fonts/Inter-Regular.woff2') format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: local("Inter Italic"), local("Inter-Italic"),
    url('../fonts/Inter-Italic.woff2') format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local("Inter Medium"), local("Inter-Medium"),
    url('../fonts/Inter-Medium.woff2') format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: local("Inter Medium Italic"), local("InterMedium-Italic"),
    url('../fonts/Inter-MediumItalic.woff2') format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url('../fonts/Inter-SemiBold.woff2') format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: local("Inter SemiBold Italic"), local("Inter-SemiBoldItalic"),
    url('../fonts/Inter-SemiBoldItalic.woff2') format("woff2");
}